db.url = jdbc:mysql://localhost:4000/rest_example
db.user = rest_example
db.password = rest_example
nablarch.db.schema = rest_example

#db.url = jdbc:postgresql://localhost:5432/rest_example
#db.user = rest_example
#db.password = rest_example
#nablarch.db.schema = rest_example

#db.url = jdbc:h2:mem:ssd;LOCK_TIMEOUT=15000;DB_CLOSE_DELAY=-1
#db.user = sa
#db.password = pass
#nablarch.db.schema = PUBLIC
